/* Some basic css variables */
:root {
  --dark: #800015;
  --light: #ccbe00;
  --accent-color: #003a80;
  --gradient-bg: linear-gradient(180deg, rgba(0,0,0,0.34) 100%, rgba(255,255,255,1) 100%);
  --gradient-bg-dark: linear-gradient(180deg, rgba(0,0,0,0.6) 100%, rgba(255,255,255,1) 100%);
}

/* Reset our css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  height: 100%;
}

/* General Link styles */

a {
  text-decoration: none;
  color: var(--dark)
}

a:visited {
  color: var(--dark)
  text-decoration: none;
}

/* Header styling */

header {
  display: flex;
  align-items: center;
}

header h1 {
  padding: 0 20px;
}

nav {
  flex: 1;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  height: 100%;
}

nav ul li {
  list-style: none;
  padding: 20px;
}
nav ul li a,
.contact section a {
  display: block;
  position: relative;
  padding: 0.2em 0;
  text-decoration: none;
}

/* Animated underline (taken from a codepen I found!) */

nav ul li a::after,
.contact section a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0.1em;
  background-color: var(--dark);
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

nav ul li a:hover::after,
nav ul li a:focus::after,
.contact section a:hover::after,
.contact section a:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Hero styling */

.hero-banner {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  min-height: 250px;
}

.hero-banner h2 {
  text-align: right;
  font-size: 3em;
  padding: 0px 10px;
  margin-bottom: 10px;
  border-radius: 8px 0px 0px 8px;
  background-color: rgba(255, 255, 255, 0.8);
}

.hero-banner img {
  border-radius: 100%;
  max-height: 200px;
  margin-left: 20px;
  align-self: center;
}

/* Generic section styling */

.page-section {
  margin: 25px;
  display: flex;
  justify-content: center;
}

.page-section.contact section {
  display: flex;
  justify-content: space-evenly;
}

.page-section section {
  flex: 1;
  padding: 15px;
}

.page-section h3 {
  text-align: right;
  padding: 15px;
}

.page-section aside {
  border-right: 3px solid var(--light);
  min-width: 180px;
}

.page-section #portfolio {
  display: grid;
  grid-template-columns: repeat(2, 50%);
}

.page-section .project {
  min-height: 150px;
  background-position: center;
  background-size: cover;
  margin: 15px;
  border: 2px solid var(--light)
}

/* Details within projects */

.page-section .project .project-details {
  height: 100%;
  background: var(--gradient-bg);
  display: flex;
  align-items: flex-end;
  border-radius: 2px;
}

.page-section .project .project-details:hover {
  height: 100%;
  background: var(--gradient-bg-dark);
}

.project-details div {
  position: relative;
  border-radius: 5px;
  display: block;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  background: white;
  left: 10px;
  bottom: 15px;
}

/* Background images for project section */

.page-section .project:first-of-type {
  grid-column-start: span 2;
  min-height: 250px;
  background-image: url('../../assets/images/project1-acc.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page-section .project:nth-of-type(2) {
  background: url('../../assets/images/02-portfolio-1.jpg');
}

.page-section .project:nth-of-type(3) {
  background: url('../../assets/images/02-portfolio-2.jpg');
}

.page-section .project:nth-of-type(4) {
  background: url('../../assets/images/02-portfolio-3.jpg');
}

.page-section .project:nth-of-type(5) {
  background: url('../../assets/images/02-portfolio-4.jpg');
}

/* Styling for responsiveness on smaller devices */
@media screen and (max-width: 768px) {
  header {
    flex-direction: column;
    padding-top: 15px;
  }

  .hero-banner {
    min-height: 125px;
    flex-direction: column;
  }

  .hero-banner img {
    margin: 20px;
  }

  .hero-banner h2 {
    font-size: 2.5em;
  }

  .page-section #portfolio {
    grid-template-columns: repeat(1, 100%);
  }

  .page-section .project:first-of-type {
    grid-column-start: span 1;
    min-height: 250px;
  }

  .page-section {
    flex-direction: column;
  }

  .page-section aside {
    border-left: 3px solid var(--light);
    border-right: none;
    min-width: 180px;
  }

  .page-section h3 {
    text-align: left;
  }
}
